In [ ]:

#&  ------------------ Google Play Store Project --------------------------

In [2]:
import numpy as np
import pandas as pd
pd.set_option("display.max_columns",None) # it is only for scroll bar purpose

In [3]:
#Load the GooglePlaystore CSV file data
df = pd.read_csv("D:\\PYTHON FULL STACK\\LibraryPrograms\\Pandas\\DATAFRAME\\EDA_PROJECT\\googleplaystore1.csv")
print(df)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]

In [ ]:

#! find the total numbeer of app in the playstore
# df.count()
# df.size
print("Total Number of App in Google playstore =",df.shape[0])

Total Number of App in Google playstore = 10841

In [13]:

#!Find the Total number of Columns in Each app of Google play store
print("Total number of Column in Google playstore =",df.shape[1])

Total number of Column in Google playstore = 13

In [20]:

#! 1) Display top 5 Rows of  DataSets
print("Display top 5 Rows of  DataSets :")
df.head()

Display top 5 Rows of  DataSets :

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [18]:

#! 2) Check the Last 3 Rows of the Dataset  
print("Check the Last three rows of the DataSet :")
df.tail(3)

Check the Last three rows of the DataSet :

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [ ]:

#! 3) Find Shape of Our DataSet (Number of Rows & Number of Columns)
print("Number of rows and Number of Columns :")  
df.shape

Number of rows and Number of Columns :

(10841, 13)

In [ ]:

#! 4.) Get Information About Our Dataset Like Total Number Rows, 
#Total Number of Columns, Datatypes of Each Column  And  Memory Requirement
# print(df.info())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [32]:

#! 5.) Get Overall Statistics About The Dataframe OR
#    Get the Descriptive Statistics about Google Play Store
df.describe() #* Gives only Numerical Columns but Not on Other Columns like str

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [33]:

#! 5.) Get Overall Statistics About The Dataframe OR
#    Get the Descriptive Statistics about Google Play Store
df.describe(include="all") # Gives Statistical info on  Numerical  and Non-Numerical Columns

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

#!6.) Obtain Total Number of App Titles Contain 'Astrology'
# Here 'Astrology' is the App name or contain in the app name
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [46]:
df[df["App"] =='Astrology']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [ ]:
df["App"].str.contains("Astrology")  #it internally contain the True

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840     True
Name: App, Length: 10841, dtype: bool

In [49]:
df[df["App"].str.contains("Astrology") ]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1570,Horoscopes – Daily Zodiac Horoscope and Astrology,LIFESTYLE,4.6,161143,11M,"10,000,000+",Free,0,Everyone 10+,Lifestyle,"June 25, 2018",5.2.4(881),4.0.3 and up
1592,သိင်္ Astrology - Min Thein Kha BayDin,LIFESTYLE,4.7,2225,15M,"100,000+",Free,0,Everyone,Lifestyle,"July 26, 2018",4.2.1,4.0.3 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [66]:

#!6.) Obtain Total Number of App Titles Contain 'Astrology'
print("Total number of app contain 'Astrology' : ",
      len(df[df["App"].str.contains("Astrology",case=False)])) 
#contains() function is used to check  each string in a Pandas Series contains a specified substring or Not

Total number of app contain 'Astrology' :  3

In [96]:

#! 7.) Find Average App Rating
# df.columns  #first Access the Series of DataFrame
# print(df["Rating"].mean())
#* OR
#* By Using the agg function 
# print(df["Rating"].agg("mean"))

print("The Average App Rating In Google Play Store=",df['Rating'].mean())

The Average App Rating In Google Play Store= 4.193338315362443

In [ ]:
#Rounding it
print("The Average App Rating In Google Play Store=",round(df['Rating'].mean(),2))

The Average App Rating In Google Play Store= 4.19

In [98]:
#8.  Find Total Number of Unique Category
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [109]:

df["Category"]

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [116]:
print("Total number of unique Category = ",df["Category"].nunique())

Total number of unique Category =  34

In [124]:
# df["Category"].unique().size
#* OR
df["Category"].nunique()
#* OR
len(df["Category"].unique())

34

In [125]:
for appname in df["Category"].unique():
    print(appname)

ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION
1.9

In [150]:

#! 9.) Which Category Getting The Highest Average Rating?
# df.columns
# df.groupby(["Category"])
# for grpname ,grpdata in df.groupby(["Category"]):
#     print("Group Name",grpname)
#     print(grpdata)
df["Category"]

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [ ]:
df.groupby("Category")["Rating"]

In [24]:
len(df.groupby("Category")["Rating"].mean())    #34

#*OR
print(df.groupby("Category")["Rating"].mean().head(1))
#*OR
print(df.groupby("Category")["Rating"].mean().nlargest(1))
#*OR
print(df.groupby("Category")["Rating"].mean().max())  #it give only max()
#* OR
print(df.groupby("Category")["Rating"].mean().sort_values(ascending=False)[0])
#* OR
print(df.groupby("Category")["Rating"].mean().sort_values(ascending=True).tail(1))
#* OR
print(df.groupby("Category")["Rating"].mean().sort_values(ascending=False).head(1))

Category
1.9    19.0
Name: Rating, dtype: float64
Category
1.9    19.0
Name: Rating, dtype: float64
19.0
19.0
Category
1.9    19.0
Name: Rating, dtype: float64
Category
1.9    19.0
Name: Rating, dtype: float64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19156\181610270.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.groupby("Category")["Rating"].mean().sort_values(ascending=False)[0])

In [ ]:

#! 10.) Find Total Number of App having 5 Star Rating
df.columns
df[df["Rating"]>=5.0]
#* OR
df[df["Rating"]==5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37M,"1,000+",Free,0,Everyone,Comics,"June 26, 2018",2.0,4.0.3 and up
612,American Girls Mobile Numbers,DATING,5.0,5,4.4M,"1,000+",Free,0,Mature 17+,Dating,"July 17, 2018",3.0,4.0.3 and up
615,Awake Dating,DATING,5.0,2,70M,100+,Free,0,Mature 17+,Dating,"July 24, 2018",2.2.9,4.4 and up
633,Spine- The dating app,DATING,5.0,5,9.3M,500+,Free,0,Teen,Dating,"July 14, 2018",4.0,4.0.3 and up
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0M,100+,Free,0,Mature 17+,Dating,"August 1, 2018",8.2,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16M,100+,Free,0,Everyone,Arcade,"June 19, 2017",2.5a,4.1 and up
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9M,"1,000+",Free,0,Everyone,Lifestyle,"December 31, 2017",0.7.1,4.4 and up
10776,Monster Ride Pro,GAME,5.0,1,24M,10+,Free,0,Everyone,Racing,"March 5, 2018",2.0,2.3 and up
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up

In [ ]:
#print("Total number of app having highest Rating = ",df[df["Rating"]==5].shape)

print("Total number of app having highest Rating = ",df[df["Rating"]==5].shape[0])

#* OR
print("Total number of app having highest rating = ",len(df[df["Rating"]==5]))

Total number of app having highest Rating =  274
Total number of app having highest rating =  274

In [54]:
print("Total number of app having highest rating = ",df[df["Rating"]==5].count().unique()[0])

Total number of app having highest rating =  274

In [20]:

#! 11.) Find Average Value of Reviews
df.columns
#Here 'reviews' is object type so we can convert into the float type with astype() function
df["Reviews"]

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10841, dtype: object

In [23]:
df["Reviews"].dtype  #object we can not apply the mean to it 
print(df["Reviews"].dtype)

object

In [26]:
# df["Reviews"].astype(float)     #ValueError: could not convert string to float: '3.0M'

In [93]:
df[df["Reviews"]=="3.0M"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [ ]:
df["Reviews"].replace("3.0M",3.0*1000000)

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10841, dtype: object

In [ ]:
# It do the permenent changes to the file 
df['Reviews']=df['Reviews'].replace("3.0M",3.0)

In [95]:
df[df['Reviews']==3.0]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [96]:
#change the datatype of the  Series Or Column 
df["Reviews"]=df["Reviews"].astype(float)

In [ ]:
# we check it your side
df["Reviews"].dtype

dtype('float64')

In [98]:
#! 11.) Find Average Value of Reviews
df['Reviews'].mean()

np.float64(444111.9265750392)

In [99]:

#! 12.) Find Total Number of Free and Paid Apps
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [ ]:
df["Type"]=="paid"  #it gives boolean array

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Type, Length: 10841, dtype: bool

In [105]:
df[df['Type']=="Paid"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442.0,6.8M,"100,000+",Paid,$4.99,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295.0,39M,"100,000+",Paid,$4.99,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up
290,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442.0,6.8M,"100,000+",Paid,$4.99,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up
291,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295.0,39M,"100,000+",Paid,$4.99,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up
427,Puffin Browser Pro,COMMUNICATION,4.0,18247.0,Varies with device,"100,000+",Paid,$3.99,Everyone,Communication,"July 5, 2018",7.5.3.20547,4.1 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10735,FP VoiceBot,FAMILY,NaN,17.0,157k,100+,Paid,$0.99,Mature 17+,Entertainment,"November 25, 2015",1.2,2.1 and up
10760,Fast Tract Diet,HEALTH_AND_FITNESS,4.4,35.0,2.4M,"1,000+",Paid,$7.99,Everyone,Health & Fitness,"August 8, 2018",1.9.3,4.2 and up
10782,Trine 2: Complete Story,GAME,3.8,252.0,11M,"10,000+",Paid,$16.99,Teen,Action,"February 27, 2015",2.22,5.0 and up
10785,"sugar, sugar",FAMILY,4.2,1405.0,9.5M,"10,000+",Paid,$1.20,Everyone,Puzzle,"June 5, 2018",2.7,2.3 and up
10798,Word Search Tab 1 FR,FAMILY,NaN,0.0,1020k,50+,Paid,$1.04,Everyone,Puzzle,"February 6, 2012",1.1,3.0 and up

In [113]:
df[df["Type"]=="Paid"].shape[0]

800

In [114]:
# OR
df[df["Type"]=="Paid"].value_counts()

App                                               Category            Rating  Reviews  Size                Installs    Type  Price    Content Rating  Genres                   Last Updated       Current Ver  Android Ver
Facetune - For Free                               PHOTOGRAPHY         4.4     49553.0  48M                 1,000,000+  Paid  $5.99    Everyone        Photography              July 25, 2018      1.3.1        4.1 and up     3
AnatomyMapp                                       MEDICAL             4.1     80.0     48M                 5,000+      Paid  $14.99   Everyone        Medical                  November 5, 2013   1.0          3.0 and up     2
Hospitalist Handbook                              MEDICAL             4.8     12.0     18M                 1,000+      Paid  $19.99   Everyone        Medical                  June 5, 2017       6.0.4        4.1 and up     2
EMT Tutor NREMT-B Study Guide                     MEDICAL             4.6     625.0    8.4M                10,000+     Paid  $3.99    Everyone        Medical                  January 8, 2017    2.1          2.1 and up     2
Human Anatomy Atlas 2018: Complete 3D Human Body  MEDICAL             4.5     2921.0   25M                 100,000+    Paid  $24.99   Everyone        Medical                  May 25, 2018       2018.5.47    5.0 and up     2
                                                                                                                                                                                                                             ..
sugar, sugar                                      FAMILY              4.2     1405.0   9.5M                10,000+     Paid  $1.20    Everyone        Puzzle                   June 5, 2018       2.7          2.3 and up     1
tTorrent - ad free                                VIDEO_PLAYERS       4.3     2976.0   Varies with device  10,000+     Paid  $1.99    Everyone        Video Players & Editors  June 15, 2018      1.5.14       4.1 and up     1
weather HD                                        PERSONALIZATION     4.0     1546.0   4.5M                10,000+     Paid  $1.99    Everyone        Personalization          February 26, 2014  3.1          2.1 and up     1
Égalité et Réconciliation                         NEWS_AND_MAGAZINES  4.9     58.0     3.8M                500+        Paid  $2.99    Everyone        News & Magazines         May 26, 2018       1.1.1        5.0 and up     1
💎 I'm rich                                        LIFESTYLE           3.8     718.0    26M                 10,000+     Paid  $399.99  Everyone        Lifestyle                March 11, 2018     1.0.0        4.4 and up     1
Name: count, Length: 611, dtype: int64

In [125]:
df["Type"].value_counts()
s = df["Type"].value_counts()
type(df["Type"].value_counts())

pandas.core.series.Series

In [129]:
print("---------------------------------------------")
print("Number of Free app =",s["Free"])
print("Number of paid app = ",s["Paid"])
print("Number of Not paid and not Free = ",s["0"])

---------------------------------------------
Number of Free app = 10039
Number of paid app =  800
Number of Not paid and not Free =  1

In [ ]:

#! 13.)  Which App Has Maximum Reviews?
df.columns

np.float64(78158306.0)

In [149]:
df["Reviews"].max()

np.float64(78158306.0)

In [ ]:
# here each review value compare with max value
df["Reviews"]==df["Reviews"].max()

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Reviews, Length: 10841, dtype: bool

In [151]:
df[df["Reviews"]==df["Reviews"].max()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device

In [ ]:
#put the condition Here
df[df["Reviews"]==df["Reviews"].max()]["App"]

2544    Facebook
Name: App, dtype: object

In [166]:
type(df[df["Reviews"]==df["Reviews"].max()]["App"])
df[df["Reviews"]==df["Reviews"].max()]["App"][2544]

'Facebook'

In [167]:
print("The App Has Maximun Reviews = ",df[df["Reviews"]==df["Reviews"].max()]["App"][2544])

The App Has Maximun Reviews =  Facebook

In [173]:
# df.loc[2544]

In [174]:

#! 14.) Display Top 5 Apps Having Highest Reviews
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [ ]:
df["Reviews"].sort_values(ascending=False).head()  #or nlargest(5)

2544    78158306.0
3943    78128208.0
381     69119316.0
336     69119316.0
3904    69109672.0
Name: Reviews, dtype: float64

In [188]:
Indices=df["Reviews"].sort_values(ascending=False).head().index

In [189]:
print(Indices)

Index([2544, 3943, 381, 336, 3904], dtype='int64')

In [190]:
df.iloc[Indices]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
3943,Facebook,SOCIAL,4.1,78128208.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
381,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
336,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
3904,WhatsApp Messenger,COMMUNICATION,4.4,69109672.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device

In [193]:
df.iloc[Indices]["App"]

2544              Facebook
3943              Facebook
381     WhatsApp Messenger
336     WhatsApp Messenger
3904    WhatsApp Messenger
Name: App, dtype: object

In [194]:
df.iloc[Indices]["App"].value_counts()

App
WhatsApp Messenger    3
Facebook              2
Name: count, dtype: int64

In [195]:

#! 15.) Find Average Rating of Free and Paid Apps
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [211]:
df.groupby("Type")["Rating"].mean()

Type
0       19.000000
Free     4.186203
Paid     4.266615
Name: Rating, dtype: float64

In [220]:
df.groupby("Type")["Rating"].agg(["mean"])

           mean
Type
0     19.000000
Free   4.186203
Paid   4.266615

In [226]:
print("Average Rating of Free Apps = ",df.groupby("Type")["Rating"].mean()["Free"])
print("Average Rating of paid App = ",df.groupby("Type")["Rating"].mean()["Paid"])
print("Average Rating of 0 App = ",df.groupby("Type")["Rating"].mean()["0"])

Average Rating of Free Apps =  4.186202546163551
Average Rating of paid App =  4.26661514683153
Average Rating of 0 App =  19.0

In [227]:

#! 16.) Display Top  5 Apps Having Maximum Installs
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [240]:
df["Installs"]
df["Installs"].dtype
print(df["Installs"].dtype)

object

In [8]:
# Replace  "," with empty string
df["Installs"].str.replace(",","")

0           10000+
1          500000+
2         5000000+
3        50000000+
4          100000+
           ...
10836        5000+
10837         100+
10838        1000+
10839        1000+
10840    10000000+
Name: Installs, Length: 10841, dtype: object

In [9]:
df["Installs-1"] = df["Installs"].str.replace(",","")

In [ ]:
df["Installs-1"]  #Comma is removed

0           10000+
1          500000+
2         5000000+
3        50000000+
4          100000+
           ...
10836        5000+
10837         100+
10838        1000+
10839        1000+
10840    10000000+
Name: Installs-1, Length: 10841, dtype: object

In [11]:
df["Installs-1"] = df["Installs-1"].str.replace("+","")

In [12]:
df["Installs-1"] # Replace '+' to ""

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs-1, Length: 10841, dtype: object

In [36]:
# Convert dtype of df["Installs-1"] into int type
df["Installs-1"] = df["Installs-1"].astype("int")

In [18]:
df[df["Installs-1"]=="Free"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs-1
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,Free

In [20]:
#replace the Installs Free into the 0 
df["Installs-1"]=df["Installs-1"].str.replace("Free","0")

In [24]:
df[df["Installs-1"]=="0"] # App ---------->  Life Made WI-Fi Touchscreen Photo Frame

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs-1
4465,Popsicle Launcher for Android P 9.0 launcher,PERSONALIZATION,NaN,0,5.5M,0+,Paid,$1.49,Everyone,Personalization,"July 11, 2018",1.1,4.2 and up,0
5307,Ak Parti Yardım Toplama,SOCIAL,NaN,0,8.7M,0+,Paid,$13.99,Teen,Social,"July 28, 2017",3.4.4.3.3,4.1 and up,0
5486,AP Series Solution Pro,FAMILY,NaN,0,7.4M,0+,Paid,$1.99,Everyone,Education,"July 30, 2017",1.3,4.0 and up,0
5945,Ain Arabic Kids Alif Ba ta,FAMILY,NaN,0,33M,0+,Paid,$2.99,Everyone,Education,"April 15, 2016",1.0,3.0 and up,0
6692,cronometra-br,PRODUCTIVITY,NaN,0,5.4M,0+,Paid,$154.99,Everyone,Productivity,"November 24, 2017",1.0.0,4.1 and up,0
7434,Pekalongan CJ,SOCIAL,NaN,0,5.9M,0+,Free,0,Teen,Social,"July 21, 2018",0.0.1,4.4 and up,0
8081,CX Network,BUSINESS,NaN,0,10M,0+,Free,0,Everyone,Business,"August 6, 2018",1.3.1,4.1 and up,0
8614,Sweden Newspapers,NEWS_AND_MAGAZINES,NaN,0,2.1M,0+,Free,0,Everyone,News & Magazines,"July 7, 2018",1.1,4.4 and up,0
8871,Test Application DT 02,ART_AND_DESIGN,NaN,0,1.2M,0+,Free,0,Everyone,Art & Design,"March 14, 2017",4.0,4.2 and up,0
9148,Command & Conquer: Rivals,FAMILY,NaN,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device,0
9337,EG | Explore Folegandros,TRAVEL_AND_LOCAL,NaN,0,56M,0+,Paid,$3.99,Everyone,Travel & Local,"January 22, 2017",1.1.1,4.1 and up,0
9719,EP Cook Book,MEDICAL,NaN,0,3.2M,0+,Paid,$200.00,Everyone,Medical,"July 26, 2015",1.0,3.0 and up,0
9905,Eu sou Rico,FINANCE,NaN,0,2.6M,0+,Paid,$30.99,Everyone,Finance,"January 9, 2018",1.0,4.0 and up,0
9917,Eu Sou Rico,FINANCE,NaN,0,1.4M,0+,Paid,$394.99,Everyone,Finance,"July 11, 2018",1.0,4.0.3 and up,0
9934,I'm Rich/Eu sou Rico/أنا غني/我很有錢,LIFESTYLE,NaN,0,40M,0+,Paid,$399.99,Everyone,Lifestyle,"December 1, 2017",MONEY,4.1 and up,0
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,0

In [ ]:
#Convert  dtype of df["Installs-1"] into int type
df["Installs-1"] = df["Installs-1"].astype("int")   # put into New column

In [27]:
# 16) Top  5 Apps Having Maximum Installs
df["Installs-1"].sort_values(ascending=False).head()

3565    1000000000
3896    1000000000
381     1000000000
335     1000000000
3523    1000000000
Name: Installs-1, dtype: int64

In [39]:
indices=df["Installs-1"].sort_values(ascending=False).head().index
df.iloc[indices]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs-1
3565,Google Drive,PRODUCTIVITY,4.4,2731211,Varies with device,"1,000,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device,1000000000
3896,Subway Surfers,GAME,4.5,27711703,76M,"1,000,000,000+",Free,0,Everyone 10+,Arcade,"July 12, 2018",1.90.0,4.1 and up,1000000000
381,WhatsApp Messenger,COMMUNICATION,4.4,69119316,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device,1000000000
335,Messenger – Text and Video Chat for Free,COMMUNICATION,4.0,56642847,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 1, 2018",Varies with device,Varies with device,1000000000
3523,Google Drive,PRODUCTIVITY,4.4,2731211,Varies with device,"1,000,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device,1000000000

In [60]:
indices=df["Installs-1"].sort_values(ascending=False).head().index
df.iloc[indices]["App"]

3565                                Google Drive
3896                              Subway Surfers
381                           WhatsApp Messenger
335     Messenger – Text and Video Chat for Free
3523                                Google Drive
Name: App, dtype: object